<p id="notice"><%= notice %></p>

<p>
  <strong>Parent channel:</strong>
  <%= @channel.parent_channel %>
</p>

<p>
  <strong>Parent comment:</strong>
  <%= @channel.parent_comment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @channel.abstract %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
